<app-navbar></app-navbar>
<section>
    <div class="wrapper">
        <div class="container main">
            <div class="row">
                <div class="col-md-6 side-image">
                    <!-- <img src="./assets/login.png" alt=""> -->
                    <!-- <div class="text">
                        <p>Join the community of developers <i>- ludiflex</i></p>
                    </div> -->

                </div>
                <div class="col-md-6 right">

                    <div class="input-box">

                        <header>Login</header>
                        <div class="input-field">
                            <input type="text" class="input" id="email" required="" autocomplete="off">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field">
                            <input type="password" class="input" id="pass" required="">
                            <label for="pass">Password</label>
                        </div>
                        <div class="input-field">

                            <input type="submit" class="submit" value="Login">
                        </div>
                        <div class="signin">
                            <span>Don't have an account yet? <a href="register">Register</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>