<footer class="text-center text-lg-start bg-body-tertiary text-muted mt-3">
    <section class="pt-2">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">

                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Pet shop
                    </h6>
                    <p>
                        Selling premium pet food and equipment for pets Various brands </p>
                </div>


                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Category
                    </h6>
                    <p>
                        <li>Dog</li>
                    </p>
                    <p>
                        <li>Cat</li>
                    </p>
                    <p>
                        <li>Small Pets</li>
                    </p>

                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p>666/39 T-primo Srinakarin</p>
                    <p>
                        Supattra.pa@kkumail.com
                    </p>
                    <p>081-234-5678</p>
                </div>

            </div>
        </div>
    </section>

</footer>