<app-navbar></app-navbar>

<section class="py-5" >
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-5 shadow p-3 mb-5 bg-body rounded"><img class="card-img-top mb-5 mb-md-0"
                    [src]="product.imgSrc" alt="..." /></div>
            <div class="col-md-6" *ngIf="product">
                <div class="small mb-1">{{ product.category }}</div>
                <h2 style="font-weight: 700;">{{ product.name }}</h2>
                <p>{{product.details}}</p>
                <div class="fs-5 mb-5">
                    <span style="font-weight: 700; font-size: 30px;">{{ product.price | currency:'':'':'1.0-0'}} บาท</span>
                </div>

                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                        style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>