<app-navbar></app-navbar>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="order-box col-md-8 shadow p-3 mb-5 bg-body rounded rounded-3">
            <h3 style="margin-left: 1rem; padding: 1rem 1rem;">Shopping cart</h3>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>
                            <img src="./assets/kaniva-cat1.jpg" alt="Air Red Pants" style="max-width: 100px;">
                            Air Red Pants
                        </td>
                        <td style="text-align: center; vertical-align: middle;">400</td>
                        <td style="text-align: center; vertical-align: middle;">1</td>
                        <td style="text-align: center; vertical-align: middle;"><i class="bi bi-trash"></i></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="./assets/kaniva-cat1.jpg" alt="Air Red Pants" style="max-width: 100px;">
                            Air Red Pants
                        </td>
                        <td style="text-align: center; vertical-align: middle;">400</td>
                        <td style="text-align: center; vertical-align: middle;">1</td>
                        <td style="text-align: center; vertical-align: middle;"><i class="bi bi-trash"></i></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="./assets/kaniva-cat1.jpg" alt="Air Red Pants" style="max-width: 100px;">
                            Air Red Pants
                        </td>
                        <td style="text-align: center; vertical-align: middle;">400</td>
                        <td style="text-align: center; vertical-align: middle;">1</td>
                        <td style="text-align: center; vertical-align: middle;"><i class="bi bi-trash"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="card shadow p-3 mb-5 bg-body rounded rounded-3" style=" border: none;">
                <h3 style=" padding: 1rem 1rem;">Subtotal</h3>
                <div class="total-box d-flex" style=" padding-left: 1rem;">
                    <p class="col-6">Subtotal</p>
                    <p class="col-6 d-flex justify-content-end" style="padding-right: 1rem;">1,200</p>
                </div>
                <div class="total-box d-flex" style=" padding-left: 1rem;">
                    <p class="col-6">Voucher Discount</p>
                    <p class="col-6 d-flex justify-content-end" style="padding-right: 1rem;">200</p>
                </div>
                <div class="total-box d-flex" style=" padding-left: 1rem;">
                    <p class="col-6">Saved</p>
                    <p class="col-6 d-flex justify-content-end" style="padding-right: 1rem;">-200</p>
                </div>
                <div class="total-box d-flex" style=" padding-left: 1rem;">
                    <p class="col-6">Total Amount</p>
                    <p class="col-6 d-flex justify-content-end" style="padding-right: 1rem;">1,000</p>
                </div>
                <div class="col-12 d-flex justify-content-end mt-4">
                    <button class="btn-save">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>