div {
    font-family: "Noto Sans Thai", sans-serif;

    .card {
        transition: 0.4s;
        cursor: pointer;
    }

    .card:hover {
        transform: scale(1.02);
    }

    .btn {
        background-color: #4D4D4D;
        color: #ffffff;

       

    }
    .btn:hover {
        background-color: #808080;
        color: #ffffff;
    }
}