div {
    font-family: "Noto Sans Thai", sans-serif;

    .card {
        transition: 0.4s;
        cursor: pointer;
    }

    .card:hover {
        transform: scale(1.02);
    }

    







}

button {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
  
    &:hover {
      box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
      transform: translateY(-2px);
    }
  

  }
  