<app-navbar></app-navbar>

<div class="g-sidenav-show bg-gray-100 mt-4">
    <div class="main-content position-relative max-height-vh-100 h-100">
        <div class="card shadow p-3 bg-body rounded mx-4">
            <div class="card-body">
                <div class="row">   
                    <div class="col-auto my-auto">
                        <div class="h-100">
                            <h5 class="mb-1">
                                Account Settings
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-xl position-relative">
                            <img src="./assets/petshop-logo.png" alt="profile_image" class=" shadow-sm"
                                style="width: 100px;">
                        </div>
                    </div>
                    <div class="col-auto my-auto">
                        <div class="h-100">
                            <h5 class="mb-1">
                                Supattra Pangjun
                            </h5>
                            <p class="mb-0 font-weight-bold text-sm">
                                @janjanbabyjan
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow p-3 bg-body rounded">
                        <div class="card-body">
                            <p class="text-uppercase text-sm">Edit Profile</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Name</label>
                                        <input class="form-control" type="text" placeholder="Enter your name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Last Name</label>
                                        <input class="form-control" type="text" placeholder="Enter your last name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Username</label>
                                        <input class="form-control" type="text" placeholder="Enter your username">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Email</label>
                                        <input class="form-control" type="email" placeholder="Enter your email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Phone</label>
                                        <input class="form-control" type="tel" placeholder="Enter your phone number">
                                    </div>
                                </div>
                                
                            </div>
                            <hr class="horizontal dark">
                            <p class="text-uppercase text-sm">Edit Address</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Address</label>
                                        <input class="form-control" type="text" placeholder=" 221B Baker Street"
                                           >
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">City</label>
                                        <input class="form-control" type="text" placeholder="London" >
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Country</label>
                                        <input class="form-control" type="text" placeholder="England" >
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Postal code</label>
                                        <input class="form-control" type="text" placeholder="NW16XE" >
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end mt-4">
                                    <button type="submit" class="btn btn-dark text-wrap"
                                        >Save</button>
                                </div>
                            </div>
                            


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>