<app-navbar></app-navbar>

<div class="g-sidenav-show bg-gray-100 mt-4">
    <div class="main-content position-relative max-height-vh-100 h-100">
        <div class="card shadow p-3 bg-body rounded mx-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto my-auto">
                        <div class="h-100">
                            <h5 class="mb-1">
                                Account
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-xl position-relative">
                            <img [src]="users.user_img" alt="profile_image" class=" shadow-sm"
                                style="width: 100px;">
                        </div>
                    </div>
                    <div class="col-auto my-auto" *ngIf="users">
                        <div class="h-100">
                            <h5 class="mb-1">
                                {{users.fname}} {{users.lname}}
                            </h5>
                            <p class="mb-0 font-weight-bold text-sm">
                                @{{users.username}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow p-3 bg-body rounded mx-4 mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto my-auto">
                        <div class="h-100">
                            <h5 class="mb-1">
                                Your Profile
                            </h5>
                            <p style="color: rgb(85, 85, 85);">
                                <span style="color: black;">{{ users?.fname }} {{ users?.lname }}</span> |
                                {{ users?.phone }} <br>
                                @{{ users?.username }} <br>
                                {{ users?.email }} <br>
                                {{ users?.userAddress?.city }}, {{ users?.userAddress?.country }} {{
                                users?.userAddress?.postal_code }}
                            </p>

                            <button class="Btn" (click)="toggleEditProfile()">
                                <div class="sign">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon>
                                        <line x1="3" y1="22" x2="21" y2="22"></line>
                                    </svg>
                                </div>

                                <div class="text">Edit</div>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid p-4" *ngIf="showEditProfile">
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow p-3 bg-body rounded">
                        <div class="card-body">
                            <p class="text-uppercase text-sm">Edit Profile</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Name</label>
                                        <input class="form-control" type="text" placeholder="Enter your name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Last Name</label>
                                        <input class="form-control" type="text" placeholder="Enter your last name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Username</label>
                                        <input class="form-control" type="text" placeholder="Enter your username">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Email</label>
                                        <input class="form-control" type="email" placeholder="Enter your email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Phone</label>
                                        <input class="form-control" type="tel" placeholder="Enter your phone number">
                                    </div>
                                </div>
                            </div>
                            <hr class="horizontal dark">
                            <p class="text-uppercase text-sm">Edit Address</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Address</label>
                                        <input class="form-control" type="text" placeholder=" 221B Baker Street">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">City</label>
                                        <input class="form-control" type="text" placeholder="London">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Country</label>
                                        <input class="form-control" type="text" placeholder="England">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Postal code</label>
                                        <input class="form-control" type="text" placeholder="NW16XE">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end mt-4">
                                    <button class="btn-save">Save</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>