<app-navbar></app-navbar>
<section>
    <!-- <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
                style="background: #4D4D4D;">
                <div class="featured-image mb-3">
                    <img src="./assets/register.png" class="img-fluid" style="width: 350px;">
                </div>

            </div>
            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h2>Register</h2>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="First Name">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Last Name">
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control form-control-lg bg-light fs-6" placeholder="Email">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Username">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password">
                    </div>
                    <div class="input-group mb-1">
                        <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Confirm Password">
                    </div>
                    

                    <div class="input-group mt-3">
                        <button class="btn login w-100 fs-6">Register</button>
                    </div>

                    <div class="row line">
                        <small>Already have an account? <a href="login">Log In</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div> -->




    <div class="wrapper">
        <div class="container main">
            <div class="row">
                <div class="col-md-6 side-image">
                    <!-- <img src="./assets/login.png" alt=""> -->
                    <!-- <div class="text">
                        <p>Join the community of developers <i>- ludiflex</i></p>
                    </div> -->

                </div>
                <div class="col-md-6 right">

                    <div class="input-box">

                        <header>Register</header>
                        <div class="input-field">
                            <input type="text" class="input" id="fname" required="" autocomplete="off">
                            <label for="text">First name</label>
                        </div>
                        <div class="input-field">
                            <input type="text" class="input" id="lname" required="" autocomplete="off">
                            <label for="text">Last name</label>
                        </div>
                        <div class="input-field">
                            <input type="email" class="input" id="email" required="" autocomplete="off">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field">
                            <input type="text" class="input" id="sername" required="" autocomplete="off">
                            <label for="text">Username</label>
                        </div>
                        <div class="input-field">
                            <input type="password" class="input" id="pass" required="">
                            <label for="pass">Password</label>
                        </div>
                        <div class="input-field">

                            <input type="submit" class="submit" value="Register">
                        </div>
                        <!-- <div class="signin">
                            <span>Don't have an account yet? <a href="register">Register</a></span>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
